<!-- CATEGORIAS 
    Este componente permite gestionar las categorías de ingredientes realizando 
    las operaciones CRUD sobre ellas
  -->
<template>
<div>
    <app-header></app-header>
    <h1>Lista de categorías <b-icon-plus-circle-fill class="mr-2" v-on:click="ins()"></b-icon-plus-circle-fill></h1>
    <b-list-group>
    <b-list-group-item v-for="cat in categorias" :key="cat.id">
      <b-row>
          <b-col cols="10">{{cat.nombre}}</b-col>
          <b-col><b-icon-eye class="mr-2" v-b-toggle="'collapse-'+cat.id"></b-icon-eye> <b-icon-pencil class="mr-2" v-on:click="edit(cat.id)"></b-icon-pencil> <b-icon-trash  v-on:click="del(cat.id)"></b-icon-trash></b-col>
          <b-collapse v-bind:id="'collapse-'+cat.id">
            <b-card>
              <span class="font-weight-bold">Descripción: </span>{{cat.descripcion}}
            </b-card>
          </b-collapse>  
      </b-row>
    </b-list-group-item>
    </b-list-group>
    <!-- MODAL EDITAR  -->
    <b-modal ref="edit-modal" id="modal-prevent-closing" title="Editar categoria" hide-footer>
      <form ref="form" @submit.stop.prevent="enviar">
        <b-form-group :state="states.nombre" label="Nombre" label-for="nombre-input" invalid-feedback="El nombre es requerido">
          <b-form-input id="nombreinput" ref="nombreinput" v-model="categoria.nombre" :state="states.nombre" required></b-form-input>
        </b-form-group>
        <b-form-group :state="states.descripcion" label="Descripción" label-for="descripcion-input" invalid-feedback="La descripción es requerido">
          <b-form-input id="descripcioninput" ref="descripcioninput" v-model="categoria.descripcion" :state="states.descripcion" required></b-form-input>
        </b-form-group>
        <b-button ref="bot" class="mt-3" variant="outline-success" @click="enviarEdit()"  block>Editar</b-button>
      </form>
    </b-modal>
    <!-- MODAL INSERTAR  -->
    <b-modal ref="insert-modal" id="modal-prevent-closing" title="Insertar categoria" hide-footer>
      <form ref="form" @submit.stop.prevent="enviar">
        <b-form-group :state="states.nombre" label="Nombre" label-for="nombre-input" invalid-feedback="El nombre es requerido">
          <b-form-input id="nombreinput" ref="nombreinput" v-model="categoria.nombre" :state="states.nombre" required></b-form-input>
        </b-form-group>
        <b-form-group :state="states.descripcion" label="Descripción" label-for="descripcion-input" invalid-feedback="La descripción es requerido">
          <b-form-input id="descripcioninput" ref="descripcioninput" v-model="categoria.descripcion" :state="states.descripcion" required></b-form-input>
        </b-form-group>
        <b-button ref="bot" class="mt-3" variant="outline-success" @click="enviarInsert()"  block>Insertar</b-button>
      </form>
    </b-modal>
    <!-- MODAL ELIMINAR  -->
    <b-modal ref="delete-modal" id="modal-prevent-closing" title="Eliminar categoria" hide-footer>
      <b-button ref="bot" class="mt-3" variant="outline-danger" @click="cancelarDelete()"  block>Cancelar</b-button>
      <b-button ref="bot" class="mt-3" variant="outline-success" @click="confirmarDelete()"  block>Confirmar</b-button>
    </b-modal>
</div>
</template>

<script>
import header from './Header.vue';
import {Expired} from '../assets/sesion'

export default {
  components: {
      'app-header': header
  },
  data () {
    return {
      categorias : [],
      categoria:{
        nombre:'',
        descripcion:'',
        id: '',
      },
      states: {
        nombre:null,
        descripcion:null
      },
      delid:''
    }
  },
  methods: {
    /**
    * Verifica que el formulario para editar categoría es válido
    * @param  
    * @return  {boolean}
    * @author Luis González Gómez
    */
    checkFormValidity() {
      this.states.nombre = this.$refs.nombreinput.checkValidity()
      this.states.descripcion = this.$refs.descripcioninput.checkValidity()
      return (this.states.descripcion && this.states.nombre) 
    },
     /**
    * A partir del id de una categoría muestra un modal que permite editarla
    * @param  {int} 
    * @return  
    * @author Luis González Gómez
    */
    edit: function (id){
      this.$refs['edit-modal'].show();
      var cat = this.categorias.find(c => c.id==id);
      this.categoria.nombre=cat.nombre;
      this.categoria.descripcion=cat.descripcion;
      this.categoria.id=cat.id;
    },
     /**
    * Envia a la API la petición para editar la categoría,
    * además genera los cambios en los datos de la interfaz
    * @param  
    * @return 
    * @author Luis González Gómez
    */
    enviarEdit() {
      if (!this.checkFormValidity()) {
        return
      }
      this.$http.put(process.env.VUE_APP_API+'categoria_ingredientes.php',{
        id: this.categoria.id,
        nombre: this.categoria.nombre,
        descripcion: this.categoria.descripcion,
        jwt: this.$store.state.user.jwt
      }).then(res => {
        const getId = (element) => element.id == this.categoria.id;
        var index = this.categorias.findIndex(getId);
        this.categorias[index].nombre=this.categoria.nombre;
        this.categorias[index].descripcion=this.categoria.descripcion;
        var data=JSON.parse(res.bodyText);
        this.$store.state.user.jwt=data.jwt;
        this.$nextTick(() => {
          this.$bvModal.hide('modal-prevent-closing')
        })
      }).catch(e => {
        Expired(this); 
        console.log(e);
      });
    },
     /**
    * Muestra el dialogo de confirmación para eliminar una categoría por id
    * @param  {int} 
    * @return 
    * @author Luis González Gómez
    */
    del: function (id){
      this.$refs['delete-modal'].show();
      this.delid=id;
    },
     /**
    * Envia a la API la petición para borrar la categoría,
    * además genera los cambios en los datos de la interfaz
    * @param  
    * @return 
    * @author Luis González Gómez
    */
    confirmarDelete: function(){
      this.$http.delete(process.env.VUE_APP_API+'categoria_ingredientes.php',{
       body: { id: this.delid, jwt:this.$store.state.user.jwt }
      }).then(res => {
        const getId = (element) => element.id == this.delid;
        var index = this.categorias.findIndex(getId);
        this.categorias.splice(index, 1);
        var data = JSON.parse(res.bodyText)
        this.$store.state.user.jwt=data.jwt;
        this.$nextTick(() => {
          this.$bvModal.hide('modal-prevent-closing')
        })
      }).catch(e => {
        Expired(this); 
        console.log(e);
      });
      this.$refs['delete-modal'].hide();
    },
     /**
    * Oculta el dialogo de confirmación sin borrar la categoría
    * @param  
    * @return 
    * @author Luis González Gómez
    */
    cancelarDelete: function(){
      this.$refs['delete-modal'].hide();
    },
     /**
    * Muestra el formulario para insertar una nueva categoría
    * @param  
    * @return 
    * @author Luis González Gómez
    */
    ins:function(){
      this.categoria.nombre='';
      this.categoria.descripcion='';
      this.categoria.id='';
      this.$refs['insert-modal'].show();
    },
     /**
    * Envia a la API la petición para insertar la categoría,
    * además genera los cambios en los datos de la interfaz
    * @param  
    * @return 
    * @author Luis González Gómez
    */
    enviarInsert() {
      if (!this.checkFormValidity()) {
        return
      }
      this.$http.post(process.env.VUE_APP_API+'categoria_ingredientes.php',{
        id_usuario: this.$store.state.user.id,
        nombre: this.categoria.nombre,
        descripcion: this.categoria.descripcion,
        jwt:this.$store.state.user.jwt
      }).then(res => {
        var data = JSON.parse(res.bodyText)
        this.categorias.push({id: data.id, id_usuario: this.$store.state.user.id, nombre: this.categoria.nombre, descripcion:this.categoria.descripcion});
        this.$store.state.user.jwt=data.jwt;
        this.$nextTick(() => {
          this.$bvModal.hide('modal-prevent-closing')
        })
      }).catch(e => { 
        Expired(this);
        console.log(e);
      });
    } 
  },
   /**
    * Funcion del ciclo de vida de VueJS
    * al crearse la instancia carga las categorias de ingredietntes asociadas al usuario
    * @param  
    * @return 
    * @author Luis González Gómez
    */
  created(){
    this.$http.get(process.env.VUE_APP_API+'categoria_ingredientes.php?jwt='+this.$store.state.user.jwt+'&id_usuario='+this.$store.state.user.id).then(res => {
      var data=JSON.parse(res.bodyText);
      this.categorias=data.cats;
      this.$store.state.user.jwt=data.jwt;
    }).catch(e => { 
      Expired(this);
      console.log(e);
    });
  }
}
</script>

<style>

</style>