<!-- GRUPOS 
    Este componente permite gestionar los grupos de recetas realizando 
    las operaciones CRUD sobre ellos
  -->
<template>
<div>
    <app-header></app-header>
    <h1>Lista de Grupos <b-icon-plus-circle-fill class="mr-2" v-on:click="ins()"></b-icon-plus-circle-fill></h1>
    <b-list-group>
    <b-list-group-item v-for="grupo in grupos" :key="grupo.id">
      <b-row>
          <b-col cols="10">{{grupo.nombre}}</b-col>
          <b-col><b-icon-eye class="mr-2" v-b-toggle="'collapse-'+grupo.id"></b-icon-eye> <b-icon-pencil class="mr-2" v-on:click="edit(grupo.id)"></b-icon-pencil> <b-icon-trash  v-on:click="del(grupo.id)"></b-icon-trash></b-col>
          <b-collapse v-bind:id="'collapse-'+grupo.id">
            <b-card>
              <span class="font-weight-bold">Descripción: </span>{{grupo.descripcion}}
            </b-card>
          </b-collapse>  
      </b-row>
    </b-list-group-item>
    </b-list-group>
    <!-- MODAL EDITAR  -->
    <b-modal ref="edit-modal" id="modal-prevent-closing" title="Editar grupo" hide-footer>
      <form ref="form" @submit.stop.prevent="enviar">
        <b-form-group :state="states.nombre" label="Nombre" label-for="nombre-input" invalid-feedback="El nombre es requerido">
          <b-form-input id="nombreinput" ref="nombreinput" v-model="grupo.nombre" :state="states.nombre" required></b-form-input>
        </b-form-group>
        <b-form-group :state="states.descripcion" label="Descripción" label-for="descripcion-input" invalid-feedback="La descripción es requerido">
          <b-form-input id="descripcioninput" ref="descripcioninput" v-model="grupo.descripcion" :state="states.descripcion" required></b-form-input>
        </b-form-group>
        <b-button ref="bot" class="mt-3" variant="outline-success" @click="enviarEdit()"  block>Editar</b-button>
      </form>
    </b-modal>
    <!-- MODAL INSERTAR  -->
    <b-modal ref="insert-modal" id="modal-prevent-closing" title="Insertar grupo" hide-footer>
      <form ref="form" @submit.stop.prevent="enviar">
        <b-form-group :state="states.nombre" label="Nombre" label-for="nombre-input" invalid-feedback="El nombre es requerido">
          <b-form-input id="nombreinput" ref="nombreinput" v-model="grupo.nombre" :state="states.nombre" required></b-form-input>
        </b-form-group>
        <b-form-group :state="states.descripcion" label="Descripción" label-for="descripcion-input" invalid-feedback="La descripción es requerido">
          <b-form-input id="descripcioninput" ref="descripcioninput" v-model="grupo.descripcion" :state="states.descripcion" required></b-form-input>
        </b-form-group>
        <b-button ref="bot" class="mt-3" variant="outline-success" @click="enviarInsert()"  block>Insertar</b-button>
      </form>
    </b-modal>
    <!-- MODAL ELIMINAR --> 
    <b-modal ref="delete-modal" id="modal-prevent-closing" title="Eliminar grupo" hide-footer>
      <b-button ref="bot" class="mt-3" variant="outline-danger" @click="cancelarDelete()"  block>Cancelar</b-button>
      <b-button ref="bot" class="mt-3" variant="outline-success" @click="confirmarDelete()"  block>Confirmar</b-button>
    </b-modal>
</div>
</template>

<script>
import header from './Header.vue';
import {Expired} from '../assets/sesion'

export default {
  components: {
      'app-header': header
  },
  data () {
    return {
      grupos : [],
      grupo:{
        nombre:'',
        descripcion:'',
        id: '',
      },
      states: {
        nombre:null,
        descripcion:null
      },
      delid:''
    }
  },
  methods: {
    /**
    * Verifica que el formulario para editar grupo es válido
    * @param  
    * @return  {boolean}
    * @author Luis González Gómez
    */
    checkFormValidity() {
      this.states.nombre = this.$refs.nombreinput.checkValidity()
      this.states.descripcion = this.$refs.descripcioninput.checkValidity()
      return (this.states.descripcion && this.states.nombre) 
    },
    /**
    * Muestra el formulario para editar el grupo por id
    * @param {int}  
    * @return  
    * @author Luis González Gómez
    */
    edit: function (id){
      this.$refs['edit-modal'].show();
      var gr = this.grupos.find(g => g.id==id);
      this.grupo.nombre=gr.nombre;
      this.grupo.descripcion=gr.descripcion;
      this.grupo.id=gr.id;
    },
    /**
    * Envia a la API la petición para editar el grupo,
    * además genera los cambios en los datos de la interfaz
    * @param  
    * @return 
    * @author Luis González Gómez
    */
    enviarEdit() {
      if (!this.checkFormValidity()) {
        return
      }
      this.$http.put(process.env.VUE_APP_API+'grupo_recetas.php',{
        id: this.grupo.id,
        nombre: this.grupo.nombre,
        descripcion: this.grupo.descripcion,
        jwt: this.$store.state.user.jwt
      }).then(res => {
        const getId = (element) => element.id == this.grupo.id;
        var index = this.grupos.findIndex(getId);
        this.grupos[index].nombre=this.grupo.nombre;
        this.grupos[index].descripcion=this.grupo.descripcion;
        var data=JSON.parse(res.bodyText);
        this.$store.state.user.jwt=data.jwt;
        this.$nextTick(() => {
          this.$bvModal.hide('modal-prevent-closing')
        })
      }).catch(e => {
        Expired(this); 
        console.log(e);
      });
    },
     /**
    * Muestra el dialogo de confirmación para eliminar un grupo por id
    * @param  {int} 
    * @return 
    * @author Luis González Gómez
    */
    del: function (id){
      this.$refs['delete-modal'].show();
      this.delid=id;
     
    },
    /**
    * Envia a la API la petición para borrar el grupo,
    * además genera los cambios en los datos de la interfaz
    * @param  
    * @return 
    * @author Luis González Gómez
    */
    confirmarDelete: function(){
      this.$http.delete(process.env.VUE_APP_API+'grupo_recetas.php',{
       body: { id: this.delid, jwt:this.$store.state.user.jwt }
      }).then(res => {
        const getId = (element) => element.id == this.delid;
        var index = this.grupos.findIndex(getId);
        this.grupos.splice(index, 1);
        var data = JSON.parse(res.bodyText)
        this.$store.state.user.jwt=data.jwt;
        this.$nextTick(() => {
          this.$bvModal.hide('modal-prevent-closing')
        })
      }).catch(e => {
        Expired(this); 
        console.log(e);
      });
      this.$refs['delete-modal'].hide();
    },
    /**
    * Oculta el dialogo de confirmación sin borrar el grupo
    * @param  
    * @return 
    * @author Luis González Gómez
    */
    cancelarDelete: function(){
      this.$refs['delete-modal'].hide();
    },
     /**
    * Muestra el formulario para insertar un nuevo grupo
    * @param  
    * @return 
    * @author Luis González Gómez
    */
    ins:function(){
      this.grupo.nombre='';
      this.grupo.descripcion='';
      this.grupo.id='';
      this.$refs['insert-modal'].show();
    },
    /**
    * Envia a la API la petición para insertar el grupo,
    * además genera los cambios en los datos de la interfaz
    * @param  
    * @return 
    * @author Luis González Gómez
    */
    enviarInsert() {
      if (!this.checkFormValidity()) {
        return
      }
      this.$http.post(process.env.VUE_APP_API+'grupo_recetas.php',{
        id_usuario: this.$store.state.user.id,
        nombre: this.grupo.nombre,
        descripcion: this.grupo.descripcion,
        jwt:this.$store.state.user.jwt
      }).then(res => {
        var data = JSON.parse(res.bodyText)
        this.grupos.push({id: data.id, id_usuario: this.$store.state.user.id, nombre: this.grupo.nombre, descripcion:this.grupo.descripcion});
        this.$store.state.user.jwt=data.jwt;
        this.$nextTick(() => {
          this.$bvModal.hide('modal-prevent-closing')
        })
      }).catch(e => { 
        Expired(this);
        console.log(e);
      });
    } 
  },
  /**
  * Funcion del ciclo de vida de VueJS
  * al crearse la instancia carga los grupos de recetas asociadas al usuario
  * @param  
  * @return 
  * @author Luis González Gómez
  */
  created(){
    this.$http.get(process.env.VUE_APP_API+'grupo_recetas.php?jwt='+this.$store.state.user.jwt+'&id_usuario='+this.$store.state.user.id).then(res => {
      var data=JSON.parse(res.bodyText);
      this.grupos=data.grupos;
      this.$store.state.user.jwt=data.jwt;
    }).catch(e => { 
      Expired(this);
      console.log(e);
    });
  }
}
</script>

<style>

</style>