<!-- CATEGORIAS 
    Este componente permite crear el menu superior de navegación
  -->
<template>
  <b-navbar toggleable="lg" type="dark" >
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item ><router-link to="/Ingredientes">Ingredientes</router-link></b-nav-item>
        <b-nav-item><router-link to="/Recetas">Recetas</router-link></b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        
        <b-nav-item-dropdown v-bind:text=username right>
          <b-dropdown-item @click="perfil()">Perfil</b-dropdown-item>
          <b-dropdown-item @click="logout()">Cerrar sesión</b-dropdown-item>
        </b-nav-item-dropdown>

      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
export default {
  data () {
    return {
      username: "",
      id: ""
    }
  },
  computed:{
   
  },
  methods: {
        /**
        * Elimina la sesion de usuario del store 
        * redirige a la pagina de Login, mostrando el mensaje de sesion cerrada
        * @param  
        * @return 
        * @author Luis González Gómez
        */
        logout(){
          this.$store.dispatch('logOutUser');
          this.$alert("Session cerrada correctamente");
          this.$router.replace('Login');
        },
        /**
        * redirige a la pagina de perfil
        * @param  
        * @return 
        * @author Luis González Gómez
        */
         perfil(){
          this.$router.replace('Perfil');
        }
  },
  /**
    * Funcion del ciclo de vida de VueJS
    * al montarse la instancia los datos asociadas al usuario
    * @param  
    * @return 
    * @author Luis González Gómez
    */
  mounted(){
    this.username=this.$store.state.user.username;
    this.id=this.$store.state.user.id;
  }
}
</script>

<style scoped>
ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
}
li{
    display: inline-block;
    margin: 0 10px;
}
a{
    color: #fff;
    text-decoration: none;
    padding: 6px 8px;
    border-radius: 10px;
}
nav{
    background: #444;
    padding: 14px 0;
    margin-bottom: 40px;
}
.router-link-active:not(#perfil){
    background: #eee;
    color: #444;
}

</style>