<!-- INGREDIENTES 
    Este componente permite gestionar los ingredientes realizando 
    las operaciones CRUD sobre ellos
  -->
<template>
<div>
  <app-header></app-header>
  <b-row align-h="end" class="mr-2 mb-2">
    <b-form-input v-on:input="buscar()" id="filter" ref="filter" :type="text" class="md mb-1 mt-2 w-25 d-inline" placeholder="Buscar ingrediente"></b-form-input>
    <b-button class="ml-2" @click="goTo('Categorias')">Gestionar categorías</b-button>
  </b-row>
  <b-card-group columns>
  <span v-for="cat in categorias" :key="cat.id">
  <b-card v-show="cat.visible==undefined || cat.visible==true">
    <b-card-body>
      <b-card-title>{{cat.nombre}}<b-icon-plus-circle-fill class="ml-2" v-on:click="ins(cat.id)"></b-icon-plus-circle-fill></b-card-title>
    </b-card-body>
    <b-list-group>
      <span v-for="ing in cat.ingredientes" :key="ing.id">
      <b-list-group-item v-show="ing.visible==undefined || ing.visible==true">
      <b-row>
        <b-col cols="9">{{ing.nombre}}</b-col>
        <b-col><b-icon-eye class="mr-2" v-b-toggle="'collapse-'+ing.id"></b-icon-eye> <b-icon-pencil class="mr-2" v-on:click="edit(cat.id, ing.id)"></b-icon-pencil> <b-icon-trash  v-on:click="del(cat.id, ing.id)"></b-icon-trash></b-col>
        <b-dropdown id="dropdown-1" text="Cambiar categoría" class="m-2">
          <b-dropdown-item v-for="c in categorias" :key="c.id" v-on:click="changeCat(cat.id, c.id, ing.id)">{{c.nombre}}</b-dropdown-item>
        </b-dropdown>
        <b-collapse v-bind:id="'collapse-'+ing.id">
          <b-card>
            <span class="font-weight-bold">Descripción: </span>{{ing.descripcion}}<br>
            <span class="font-weight-bold">Unidad de medida: </span>{{ing.unidad}}<br>
            <span class="font-weight-bold">Precio unitario: </span>{{ing.precio}} €
          </b-card>
        </b-collapse>  
      </b-row>
      </b-list-group-item>
      </span>
    </b-list-group>
  </b-card>
  </span>
  </b-card-group> 
  <!-- MODAL EDITAR -->
  <b-modal ref="edit-modal" id="modal-prevent-closing" title="Editar ingrediente" hide-footer>
    <form ref="form" @submit.stop.prevent="enviar">
      <b-form-group :state="states.nombre" label="Nombre" label-for="nombre-input" invalid-feedback="El nombre es requerido">
        <b-form-input id="nombreinput" ref="nombreinput" v-model="ingrediente.nombre" :state="states.nombre" required></b-form-input>
      </b-form-group>
      <b-form-group :state="states.descripcion" label="Descripción" label-for="descripcion-input" invalid-feedback="La descripción es requerido">
        <b-form-input id="descripcioninput" ref="descripcioninput" v-model="ingrediente.descripcion" :state="states.descripcion" required></b-form-input>
      </b-form-group>
      <b-form-group :state="states.unidad" label="Unidad de medida" label-for="unidades-input" invalid-feedback="La unidad de medida es requerido">
        <b-form-select  v-model="unidades_sel" :options="unidades" :state="states.unidad" required></b-form-select>
      </b-form-group>
      <b-form-group :state="states.precio" label="Precio unitario (€)" label-for="precio-input" invalid-feedback="El precio unitario es requerido">
        <b-form-input id="precioinput" ref="precioinput" type="number" step=0.01 v-model="ingrediente.precio" :state="states.precio" required></b-form-input>
      </b-form-group>
      <b-button ref="bot" class="mt-3" variant="outline-success" @click="enviarEdit()"  block>Editar</b-button>
    </form>
  </b-modal>
  <!-- MODAL INSERTAR-->
  <b-modal ref="insert-modal" id="modal-prevent-closing" title="Insertar ingrediente" hide-footer>
    <form ref="form" @submit.stop.prevent="enviar">
      <b-form-group :state="states.nombre" label="Nombre" label-for="nombre-input" invalid-feedback="El nombre es requerido">
        <b-form-input id="nombreinput" ref="nombreinput" v-model="ingrediente.nombre" :state="states.nombre" required></b-form-input>
      </b-form-group>
      <b-form-group :state="states.descripcion" label="Descripción" label-for="descripcion-input" invalid-feedback="La descripción es requerido">
        <b-form-input id="descripcioninput" ref="descripcioninput" v-model="ingrediente.descripcion" :state="states.descripcion" required></b-form-input>
      </b-form-group>
      <b-form-group :state="states.unidad" label="Unidad de medida" label-for="unidades-input" invalid-feedback="La unidad de medida es requerido">
        <b-form-select  v-model="unidades_sel" :options="unidades" :state="states.unidad" required></b-form-select>
      </b-form-group>
      <b-form-group :state="states.precio" label="Precio unitario (€)" label-for="precio-input" invalid-feedback="El precio unitario es requerido">
        <b-form-input id="precioinput" ref="precioinput" type="number" step=0.01 v-model="ingrediente.precio" :state="states.precio" required></b-form-input>
      </b-form-group>
      <b-button ref="bot" class="mt-3" variant="outline-success" @click="enviarInsert()"  block>Insertar</b-button>
    </form>
  </b-modal>
  
  <!-- MODAL ELIMINAR  -->
  <b-modal ref="delete-modal" id="modal-prevent-closing" title="Eliminar ingrediente" hide-footer>
    <b-button ref="bot" class="mt-3" variant="outline-danger" @click="cancelarDelete()"  block>Cancelar</b-button>
    <b-button ref="bot" class="mt-3" variant="outline-success" @click="confirmarDelete()"  block>Confirmar</b-button>
  </b-modal>
   
</div>
</template>

<script>
import header from './Header.vue';
import {Expired} from '../assets/sesion'

export default {
  components: {
      'app-header': header
  },
  data () {
    return {
      categorias: [],
      unidades_sel:null,
      unidades : [{value: null, text: 'Selecciona unidad de medida' },
                    {value: 'Kg', text: 'Kilogramos' },
                    {value: 'L', text: 'Litros'},
                    {value: 'unidad', text: 'Unidades'}],
      ingredientes : [],
      ingrediente:{
        id: '',
        nombre:'',
        descripcion:'',
        precio:'',
        unidad:'',
        id_categoria: '', 
        id_usuario: ''
      },
      states: {
        nombre:null,
        descripcion:null,
        precio:null,
        unidad:null
      },
      delid:'',
      delcatid:''
    }
  },
  methods: {
     /**
    * Filtra estableciendo una bandera boleana las categorias e ingredientes
    * que se deben mostrar en base a lo introducido en el cuadro de busqueda
    * @param  
    * @return  
    * @author Luis González Gómez
    */
    buscar() {
      this.categorias.forEach(categoria =>{
        categoria.visible=true;
        var v=false;
        categoria.ingredientes.forEach(ing =>{
          if (ing.nombre.toLowerCase().indexOf(this.$refs.filter.$el.value.toLowerCase()) > -1){
            ing.visible=true;
            v=true;
          }else{
            ing.visible=false;
          }
        });
        if(!v){
          categoria.visible=false;
        }
      });
      this.$forceUpdate();
    },
     /**
    * Redirige mostrando el componente asociado a la ruta recibida por parámetro
    * @param  {string}
    * @return  
    * @author Luis González Gómez
    */
    goTo(route){
      this.$router.replace(route);
    },
    /**
    * Verifica que el formulario para editar/insertar ingrediente es válido
    * @param  
    * @return  {boolean}
    * @author Luis González Gómez
    */
    checkFormValidity() {
      this.states.nombre = this.$refs.nombreinput.checkValidity()
      this.states.descripcion = this.$refs.descripcioninput.checkValidity()
      this.states.precio = this.$refs.precioinput.checkValidity()
      this.states.unidad = this.unidades_sel == null ? false : true;
      
      return (this.states.descripcion && this.states.nombre && this.states.precio && this.states.unidad) 
    },
    /**
    * Envia a la API la peticion para cambiar la categoría del ingredietne
    * ademas, muestra el cambio de categoria en los datos de la interfaz
    * @param  {int} 
    * @return  
    * @author Luis González Gómez
    */
    changeCat(oldcatid, newcatid, ingid){
      this.$http.put(process.env.VUE_APP_API+'ingredientes.php',{
        action: "move",
        categoria : newcatid,
        id : ingid,
        jwt: this.$store.state.user.jwt
      }).then(res => {
        var indexc = this.categorias.findIndex(c => c.id == oldcatid);
        var indexi = this.categorias[indexc].ingredientes.findIndex(i=> i.id == ingid);
        var newIng = this.categorias[indexc].ingredientes[indexi];
        this.categorias[indexc].ingredientes.splice(indexi, 1);
        var indexc = this.categorias.findIndex(c => c.id == newcatid);
        this.categorias[indexc].ingredientes.push(newIng);
        var new_cat = this.categorias[indexc];
        this.categorias.splice(indexc, 1, new_cat);
        var data=JSON.parse(res.bodyText);
        this.$store.state.user.jwt=data.jwt;
        this.$nextTick(() => {
          this.$bvModal.hide('modal-prevent-closing')
        })
      }).catch(e => {
        Expired(this); 
        console.log(e);
      });
    },
    /**
    * Muestra el formulario para editar el ingrediente por id
    * @param {int} 
    * @return  
    * @author Luis González Gómez
    */
    edit: function (catid, ingid){
      this.$refs['edit-modal'].show();
      var index = this.categorias.findIndex(c => c.id==catid);
      var ing = this.categorias[index].ingredientes.find(i=> i.id == ingid);
      this.ingrediente.id = ingid;
      this.ingrediente.nombre = ing.nombre;
      this.ingrediente.descripcion = ing.descripcion;
      this.ingrediente.precio = ing.precio;
      this.unidades_sel= ing.unidad;
      this.ingrediente.categoria=catid;
    },
     /**
    * Envia a la API la petición para editar el ingrediente,
    * además genera los cambios en los datos de la interfaz
    * @param  
    * @return 
    * @author Luis González Gómez
    */
    enviarEdit() {
      if (!this.checkFormValidity()) {
        return
      }
      this.$http.put(process.env.VUE_APP_API+'ingredientes.php',{
        action: "edit",
        id: this.ingrediente.id,
        nombre: this.ingrediente.nombre,
        descripcion: this.ingrediente.descripcion,
        precio: this.ingrediente.precio,
        unidad: this.unidades_sel,
        jwt: this.$store.state.user.jwt
      }).then(res => {
        var indexc = this.categorias.findIndex(c => c.id==this.ingrediente.categoria);
        var indexi = this.categorias[indexc].ingredientes.findIndex(i=> i.id == this.ingrediente.id);
        this.categorias[indexc].ingredientes[indexi].nombre = this.ingrediente.nombre;
        this.categorias[indexc].ingredientes[indexi].descripcion = this.ingrediente.descripcion;
        this.categorias[indexc].ingredientes[indexi].precio = this.ingrediente.precio;
        this.categorias[indexc].ingredientes[indexi].unidad = this.unidades_sel;
        var new_cat = this.categorias[indexc];
        this.categorias.splice(indexc, 1, new_cat);
        var data=JSON.parse(res.bodyText);
        this.$store.state.user.jwt=data.jwt;
        this.$nextTick(() => {
          this.$bvModal.hide('modal-prevent-closing')
        })
      }).catch(e => { 
        Expired(this);
        console.log(e);
          
      });
    },
     /**
    * Muestra el dialogo de confirmación para eliminar un ingrediente por id
    * @param  {int} 
    * @return 
    * @author Luis González Gómez
    */
    del: function (catid, ingid){
      this.$refs['delete-modal'].show();
      this.delid=ingid;
      this.delcatid=catid;
     
    },
    /**
    * Envia a la API la petición para borrar el ingrediente,
    * además genera los cambios en los datos de la interfaz
    * @param  
    * @return 
    * @author Luis González Gómez
    */
    confirmarDelete: function(){
      this.$http.delete(process.env.VUE_APP_API+'ingredientes.php',{
       body: { id: this.delid, jwt:this.$store.state.user.jwt }
      }).then(res => {
        var indexc = this.categorias.findIndex(c => c.id==this.delcatid);
        var indexi = this.categorias[indexc].ingredientes.findIndex(i=> i.id == this.delid);
        this.categorias[indexc].ingredientes.splice(indexi, 1);
        var new_cat = this.categorias[indexc];
        this.categorias.splice(indexc, 1, new_cat);
        var data = JSON.parse(res.bodyText)
        this.$store.state.user.jwt=data.jwt;
        this.$nextTick(() => {
          this.$bvModal.hide('modal-prevent-closing')
        })
      }).catch(e => {
        Expired(this); 
        console.log(e);
      });
      this.$refs['delete-modal'].hide();
    },
    /**
    * Oculta el dialogo de confirmación sin borrar el ingrediente
    * @param  
    * @return 
    * @author Luis González Gómez
    */
    cancelarDelete: function(){
      this.$refs['delete-modal'].hide();
    },
    /**
    * Muestra el formulario para insertar un nuevo ingrediente en la categoria pasada por paramentro
    * @param  
    * @return 
    * @author Luis González Gómez
    */
    ins:function(cat_id){
      this.ingrediente.nombre='';
      this.ingrediente.descripcion='';
      this.ingrediente.precio='';
      this.unidades_sel='';
      this.ingrediente.id_categoria=cat_id;
      this.ingrediente.id='';
      this.$refs['insert-modal'].show();
    },
    /**
    * Envia a la API la petición para insertar el ingrediente en la categoría indicada,
    * además genera los cambios en los datos de la interfaz
    * @param  
    * @return 
    * @author Luis González Gómez
    */
    enviarInsert() {
      if (!this.checkFormValidity()) {
        return
      }
      this.$http.post(process.env.VUE_APP_API+'ingredientes.php',{
        id_usuario: this.$store.state.user.id,
        nombre: this.ingrediente.nombre,
        descripcion: this.ingrediente.descripcion,
        precio: this.ingrediente.precio,
        unidad: this.unidades_sel,
        id_categoria: this.ingrediente.id_categoria,
        jwt:this.$store.state.user.jwt
      }).then(res => {
        var data = JSON.parse(res.bodyText)
        var index = this.categorias.findIndex(c => c.id==this.ingrediente.id_categoria);
        this.categorias[index].ingredientes.push({
        id : data.id,      
        nombre : this.ingrediente.nombre,
        descripcion : this.ingrediente.descripcion,
        precio : this.ingrediente.precio,
        unidad : this.unidades_sel
        });
        var new_cat = this.categorias[index];
        this.categorias.splice(index, 1, new_cat);
        this.$store.state.user.jwt=data.jwt;
        this.$nextTick(() => {
          this.$bvModal.hide('modal-prevent-closing')
        })
      }).catch(e => { 
        Expired(this);
        console.log(e);
      });
    } 
  },
  /**
  * Funcion del ciclo de vida de VueJS
  * al crearse la instancia carga las categorias y los ingredientes asociados al usuario
  * @param  
  * @return 
  * @author Luis González Gómez
  */
  created(){
    this.$http.get(process.env.VUE_APP_API+'categoria_ingredientes.php?jwt='+this.$store.state.user.jwt+'&id_usuario='+this.$store.state.user.id).then(res => {
      var data=JSON.parse(res.bodyText);
      data.cats.forEach(cat => {
        var categoria = [];
        categoria.id = cat.id;
        categoria.nombre = cat.nombre;
        categoria.descripcion = cat.descripcion;
        categoria.ingredientes = [];
        this.$http.get(process.env.VUE_APP_API+'ingredientes.php?jwt='+this.$store.state.user.jwt+'&id_categoria='+cat.id).then(res => {
          var data=JSON.parse(res.bodyText);
          data.ings.forEach(ing => {
            var ingrediente = {};
            ingrediente.id = ing.id;
            ingrediente.nombre = ing.nombre;
            ingrediente.descripcion = ing.descripcion;
            ingrediente.precio = ing.precio;
            ingrediente.unidad = ing.unidad;
            categoria.ingredientes.push(ingrediente);
          });
          this.categorias.push(categoria);
          this.$store.state.user.jwt=data.jwt;
        }).catch(e => { 
          Expired(this);
          console.log(e);
        });
      });
    }).catch(e => {
      Expired(this); 
      console.log(e);
    });
  }
}
</script>

<style>

</style>