<!-- LANDIGN PAGE 
    Este componente permite mostrar en que consiste recetario online
  -->
<template>
<b-container class="m-2" fluid="xl">
  <b-row class="mintcream align-middle" align-v="center">
    <b-col>
      <p class="text-center mt-5"><span class="font-weight-bold font-italic">Recetario online</span> es la herramienta perfecta para controlar de manera profesional sus recetas mediante sencillos escandallos.</p>
      <p class="text-center mt-2">Controle los gastos en sus recetas para ajustar al mejor precio sus oferta gastronómica.</p>
      <p class="text-center">
      <b-button class="m-2" v-on:click="goTo('Login')">Inciar Sesión</b-button>
      <b-button class="m-2" v-on:click="goTo('Registrar')">Registrarse</b-button>
      </p>
      </b-col>
      <b-col>
      <b-img src="../src/assets/imgs/recetario.png"></b-img>
    </b-col>
  </b-row>
  
  <b-row class="ivory" align-v="center">
    <b-col>
      <p class="text-center mt-5">Un único sitio donde mantener al día su almacén de ingredientes y sus recetas.</p>
      <p class="text-center mt-2">Tome el control de su cocina y sus gastos.</p>
    </b-col>
    <b-col class="p-0">
      <b-carousel
        id="carousel-1"
        v-model="slide"
        :interval="3500"
        background="#ababab"
        style="text-shadow: 1px 1px 2px #333;"
        @sliding-start="onSlideStart"
        @sliding-end="onSlideEnd"
      >
      <b-carousel-slide img-src="../src/assets/imgs/1.jpg"></b-carousel-slide>
      <b-carousel-slide img-src="../src/assets/imgs/2.jpg"></b-carousel-slide>
      <b-carousel-slide img-src="../src/assets/imgs/22.jpg"></b-carousel-slide>
      <!-- <b-carousel-slide img-src="../src/assets/imgs/3.jpg"></b-carousel-slide> -->
      <b-carousel-slide img-src="../src/assets/imgs/4.jpg"></b-carousel-slide> 
      <b-carousel-slide img-src="../src/assets/imgs/5.jpg"></b-carousel-slide> 
      <b-carousel-slide img-src="../src/assets/imgs/6.jpg"></b-carousel-slide> 
      <b-carousel-slide img-src="../src/assets/imgs/4144.jpg"></b-carousel-slide>
      </b-carousel>
    </b-col>
  </b-row>

   <b-row class="mintcream" align-v="center">
    <b-col class="p-0">
      <b-embed
        type="video"
        aspect="16by9"
        src="../src/assets/videos/1.mp4"
        allowfullscreen
        controls poster="poster.png"
      ></b-embed>
    </b-col>
    <b-col>
      <p class="text-center mt-5">Cree y mantenga actualizado su propio almacén de ingredientes basado en categorías.</p>
      <p class="text-center mt-2">Nunca fue mas fácil tener sus ingredientes al día con un par de clicks.</p>
    </b-col>
  </b-row>

 <b-row class="ivory" align-v="center">
    <b-col>
      <p class="text-center mt-5">Gestione sus recetas usando los ingredientes de su almacén.</p>
      <p class="text-center mt-2">Calcule los costes de las raciones de sus recetas como un verdadero jefe de cocina.</p>
      <p class="text-center mt-2">Acutalice los ingredientes de su almancén para actualizar todas sus recetas en un solo click.</p>
      <p class="text-center"><b-button class="mt-2" v-on:click="goTo('Login')">Empezar con Recetario</b-button></p>
    </b-col>
    <b-col class="p-0">
    <b-embed
      type="video"
      aspect="16by9"
      src="../src/assets/videos/2.mp4"
      allowfullscreen
      controls poster="poster.png"
    ></b-embed>
    </b-col>
  </b-row>
  <b-row class="ivory" align-v="center">
    <b-col>
      <p class="text-center mt-5"><b-link href="https://www.instagram.com"><img src="../assets/imgs/instagram.png"></b-link></p>
    </b-col>
    <b-col>
       <p class="text-center mt-5"><b-link href="https://www.facebook.com"><img src="../assets/imgs/facebook.png"></b-link></p>
    </b-col>
    <b-col>
       <p class="text-center mt-5"><b-link href="https://www.twitter.com"><img src="../assets/imgs/twitter.png"></b-link></p>
    </b-col>
  </b-row>
</b-container>
</template>

<script>
  export default {
    data() {
      return {
        slide: 0,
        sliding: null
      }
    },
    methods: {
      goTo(route){
        this.$router.replace(route);
      },
      onSlideStart(slide) {
        this.sliding = true
      },
      onSlideEnd(slide) {
        this.sliding = false
      }
    }
  }
</script>

<style scoped>
body {
  background-color: ivory;
}
.mintcream {
  background-color: mintcream;
}
.ivory {
  background-color: ivory;
}
</style>
