<!-- LOGIN 
    Este componente permite llevar a cabo el proceso de login de usuario
  -->
<template>
  <div>
    <b-form @submit="enviar">
      <b-row>
        <b-col cols="11">
        <h1>Inicio de sesión</h1>
        </b-col>
        <b-col class="h3 mt-2">
          <b-icon-house-fill  @click="Home()"></b-icon-house-fill> 
        </b-col>
      </b-row>
       <b-form-group id="username" label="Nombre de usuario:" label-for="username">
        <b-form-input id="username" v-model="form.username" type="text" required placeholder="Introduce nombre de usuario"></b-form-input>
      </b-form-group>
      <b-form-group id="password" label="Contraseña:" label-for="password">
        <b-form-input id="password" v-model="form.password" type="password" required placeholder="Introduce contraseña"></b-form-input>
      </b-form-group>   
      <b-alert v-if="!form.valid" show variant="danger">{{msg}}</b-alert>
      <b-button type="submit" variant="primary">Enviar</b-button>
      <b-button type="submit" v-on:click.prevent="registrar">Registrar</b-button>
      <b-button type="submit" variant="warning" @click="Recuperar()">Recuperar contraseña</b-button>
    </b-form>
    <b-modal ref="recuperar-modal" id="modal-prevent-closing" title="Recuperar contraseña" hide-footer>
      <form ref="form2" @submit.stop.prevent="enviarRecuperar">
        <b-form-group :state="states.email" label="Email asociado a tu cuenta" label-for="email-input" invalid-feedback="El email es requerido">
          <b-form-input type="email" id="emailinput" ref="emailinput" v-model="email" :state="states.email" required></b-form-input>
        </b-form-group>
        <b-button ref="bot" class="mt-3" variant="success" @click="enviarRecuperar()" block>Recuperar</b-button>
      </form>
    </b-modal>
  </div>
</template>

<script>
export default {
  data () {
    return {
      form :{
      username: '',
      password: '',
      valid: true
      },
      msg: '',
      email:'',
      states: {
        email:null,
      },
    }
  },
  
  methods: {
    /**
    * Redirige mostrando el componente asociado al Home
    * @param
    * @return  
    * @author Luis González Gómez
    */
    Home: function(){
      this.$router.replace('Landing');
    },
    /**
    * Muestra el modal para recuperar contraseña
    * @param  
    * @return  
    * @author Luis González Gómez
    */
    Recuperar: function (){
      this.email="";
      this.states.email=null;
      this.$refs['recuperar-modal'].show();
    },
    /**
    * Envia la petición de recuperar contraseña a la API
    * @param  
    * @return  
    * @author Luis González Gómez
    */
    enviarRecuperar() {
      if (!this.$refs.emailinput.checkValidity()) {
        this.states.email=false;
        return
      }
      this.$http.put(process.env.VUE_APP_API+'generatePassword.php',{
        email: this.email,
      }).then(res => {
        this.$alert("Se ha enviado un email a "+this.email+" con la nueva contraseña");
        
      }).catch(e => {
        this.$alert("No hay ninguna cuenta asociada a esa direccion de correo");
        console.log(e);
      });
      this.$nextTick(() => {
          this.$bvModal.hide('modal-prevent-closing')
      })
    },
    /**
    * Envia la petición de login a la API
    * Si el login es correcto redirige a la vista de recetas, 
    * en caso de error informa sobre ello
    * @param  
    * @return  
    * @author Luis González Gómez
    */
    enviar(evt) {
      evt.preventDefault();
      this.$http.post(process.env.VUE_APP_API+'login.php', {
          username: this.form.username,
          password: this.form.password
      }).then(res => {
        var data=JSON.parse(res.bodyText);
        var payload = {
          "username": data.username,
          "id" : data.id,
          "email" : data.email,
          "jwt": data.jwt
        };
        this.$store.dispatch('setUser', payload)
        this.$router.replace('Recetas');
      }).catch(e => { 
        console.log(e);
        this.form.valid=false;
        this.msg="Usuario y/o contraseña incorrectos";
      });
    },
    registrar: function() {
      this.$router.replace('Registrar');
    }
  },
  /**
  * Funcion del ciclo de vida de VueJS
  * antes  de crearse la instancia comprueba si ya esta logueado el usuario
  * en caso afirmativo redirige a la vista de recetas
  * @param  
  * @return 
  * @author Luis González Gómez
  */
  beforeCreate() {
    if (this.$store.state.user.loggedIn){
      this.$router.replace('Recetas');
    }
  }
}
</script>

<style>

</style>
