<!-- PERFIL 
    Este componente permite mostrar y llevar a cabo acciones sobre la cuenta de usuario
  -->
<template>
<div>
  <app-header></app-header>
  <h1>Perfil</h1>
  <b-list-group>
    <b-list-group-item><span class="font-weight-bold">Nombre de usuario: </span>{{user.username}}  <b-icon-pencil class="mr-5" v-on:click="editUsername()"></b-icon-pencil></b-list-group-item>
    <b-list-group-item><span class="font-weight-bold">Dirección de correo electrónico: </span>{{user.email}} <b-icon-pencil class="mr-5" v-on:click="editEmail()"></b-icon-pencil></b-list-group-item>
    <b-list-group-item><span class="font-weight-bold">Contraseña: </span><span class="font-weight-dark"> ****** <b-icon-pencil class="mr-5" v-on:click="editPassword()"></b-icon-pencil></span></b-list-group-item>
  </b-list-group>
   <b-button ref="bot" class="mt-3" variant="danger" size="sm" @click="del()">Eliminar cuenta</b-button>
  <!-- EDIT USERNAME MODAL -->
  <b-modal ref="editusername-modal" id="modal-prevent-closing" title="Editar nombre de usuario" hide-footer>
    <form ref="form" @submit.stop.prevent="enviar">
      <b-form-group :state="statesusername.username" label="Nuevo nombre de usuario" label-for="username-input" invalid-feedback="El nombre de usuario es requerido">
        <b-form-input id="usernameinput" ref="usernameinput" :state="statesusername.username" required></b-form-input>
      </b-form-group>
      <b-form-group :state="statesusername.username2" label="Repite nuevo nombre de usuario" label-for="username2-input" invalid-feedback="Repetir el nombre de usuario es requerido">
        <b-form-input id="username2input" ref="username2input" :state="statesusername.username" required></b-form-input>
      </b-form-group>
      <b-alert show variant="danger" v-if=!statesusername.equals>Los valores no coinciden</b-alert>
      <b-button ref="bot" class="mt-3" variant="outline-success" @click="enviarEditUsername()" block>Editar</b-button>
    </form>
  </b-modal>

  <!-- EDIT EMAIL MODAL -->
  <b-modal ref="editemail-modal" id="modal-prevent-closing" title="Editar email" hide-footer>
    <form ref="form" @submit.stop.prevent="enviar">
      <b-form-group :state="statesemail.username" label="Nuevo email" label-for="email-input" invalid-feedback="El email es requerido">
        <b-form-input type="email" id="emailinput" ref="emailinput" :state="statesemail.email" required></b-form-input>
      </b-form-group>
      <b-form-group :state="statesemail.email2" label="Repite nuevo email" label-for="email2-input" invalid-feedback="Repetir el email es requerido">
        <b-form-input type="email" id="email2input" ref="email2input" :state="statesemail.email2" required></b-form-input>
      </b-form-group>
      <b-alert show variant="danger" v-if=!statesemail.equals>Los valores no coinciden</b-alert>
      <b-button ref="bot" class="mt-3" variant="outline-success" @click="enviarEditEmail()" block>Editar</b-button>
    </form>
  </b-modal>

  <!-- EDIT PASSWORD MODAL -->
  <b-modal ref="editpassword-modal" id="modal-prevent-closing" title="Editar contraseña" hide-footer>
    <form ref="form" @submit.stop.prevent="enviar">
      <b-form-group :state="statespassword.password" label="Nueva contraseña" label-for="password-input" invalid-feedback="La contraseña es requerido">
        <b-form-input type="password" id="passwordinput" ref="passwordinput" :state="statespassword.password" required></b-form-input>
      </b-form-group>
      <b-form-group :state="statespassword.password2" label="Repite nueva contraseña" label-for="password2-input" invalid-feedback="Repetir la contraseña es requerido">
        <b-form-input type="password" id="password2input" ref="password2input" :state="statespassword.password2" required></b-form-input>
      </b-form-group>
      <b-alert show variant="danger" v-if=!statespassword.equals>Los valores no coinciden</b-alert>
      <b-alert show variant="danger" v-if=!statespassword.valida>La contraseña debe tener al entre 8 y 16 caracteres, al menos un dígito, al menos una minúscula y al menos una mayúscula.</b-alert>
      <b-button ref="bot" class="mt-3" variant="outline-success" @click="enviarEditPassword()" block>Editar</b-button>
    </form>
  </b-modal>

  <!-- MODAL ELIMINAR CUENTAc -->
    <b-modal ref="delete-modal" id="modal-prevent-closing" title="Eliminar cuenta" hide-footer>
      <b-button ref="bot" class="mt-3" variant="outline-danger" @click="cancelarDelete()"  block>Cancelar</b-button>
      <b-button ref="bot" class="mt-3" variant="outline-success" @click="confirmarDelete()"  block>Confirmar</b-button>
    </b-modal>

</div>
</template>

<script>
import header from './Header.vue';
import {Expired} from '../assets/sesion'
export default {
  components: {
    'app-header': header
  },
  data () {
    return {
      user:{

      },
      statesusername: {
        username:null,
        username2:null,
        equals:true
      },
      statesemail: {
        eamil:null,
        email2:null,
        equals:true
      },
      statespassword: {
        password:null,
        password2:null,
        equals:true,
        valida:true
      },
    }
  },
  methods: {
    /**
    * Verifica que el formulario editar nombre de usuario es valido
    * @param  
    * @return  {boolean}
    * @author Luis González Gómez
    */
    checkUsernameValidity() {
      this.statesusername.username = this.$refs.usernameinput.checkValidity()
      this.statesusername.username2 = this.$refs.username2input.checkValidity()
      this.statesusername.equals = (this.$refs.usernameinput.$el.value == this.$refs.username2input.$el.value)
      return (this.statesusername.username && this.statesusername.username2 && this.statesusername.equals) 
    },
    /**
    * Muestra el modal para editar el nombre de usuario
    * @param  
    * @return  
    * @author Luis González Gómez
    */
    editUsername(){
      this.statesusername.username = null,
      this.statesusername.username2 = null,
      this.statesusername.equals = true
      this.$refs['editusername-modal'].show();
    },
    /**
    * Envia a la API la modificación de nombre de usuario
    * @param  
    * @return  
    * @author Luis González Gómez
    */
    enviarEditUsername(){
      if (!this.checkUsernameValidity()) {
        return
      }
      this.$http.put(process.env.VUE_APP_API+'user.php',{
        id: this.user.id,
        username: this.$refs.usernameinput.$el.value,
        action: "edit_username",
        jwt: this.$store.state.user.jwt
      }).then(res => {
        var data=JSON.parse(res.bodyText);
        this.$store.state.user.jwt=data.jwt;
        this.$store.state.user.username=this.$refs.usernameinput.$el.value;
        this.$nextTick(() => {
          this.$bvModal.hide('modal-prevent-closing')
        })
      }).catch(e => { 
        Expired(this);
        console.log(e);
      });
    },

    /**
    * Verifica que el formulario editar el email de usuario es valido
    * @param  
    * @return  {boolean}
    * @author Luis González Gómez
    */
    checkEmailValidity() {
      this.statesemail.email = this.$refs.emailinput.checkValidity()
      this.statesemail.email2 = this.$refs.email2input.checkValidity()
      this.statesemail.equals = (this.$refs.emailinput.$el.value == this.$refs.email2input.$el.value)
      return (this.statesemail.email && this.statesemail.email2 && this.statesemail.equals) 
    },
     /**
    * Muestra el modal para editar el email de usuario
    * @param  
    * @return  
    * @author Luis González Gómez
    */
    editEmail(){
      this.statesemail.email = null,
      this.statesemail.email2 = null,
      this.statesemail.equals = true
      this.$refs['editemail-modal'].show();
    },
    /**
    * Envia a la API la modificación de email de usuario
    * @param  
    * @return  
    * @author Luis González Gómez
    */
    enviarEditEmail(){
      if (!this.checkEmailValidity()) {
        return
      }
      this.$http.put(process.env.VUE_APP_API+'user.php',{
        id: this.user.id,
        email: this.$refs.emailinput.$el.value,
        action: "edit_email",
        jwt: this.$store.state.user.jwt
      }).then(res => {
        var data=JSON.parse(res.bodyText);
        this.$store.state.user.jwt=data.jwt;
        this.$store.state.user.email=this.$refs.emailinput.$el.value;
        this.$nextTick(() => {
          this.$bvModal.hide('modal-prevent-closing')
        })
      }).catch(e => {
        Expired(this); 
        console.log(e);
      });
    },
    /**
    * Verifica que el formulario editar la password del de usuario es valido
    * @param  
    * @return  {boolean}
    * @author Luis González Gómez
    */
    checkPasswordValidity() {
      this.statespassword.password = this.$refs.passwordinput.checkValidity()
      this.statespassword.password2 = this.$refs.password2input.checkValidity()
      this.statespassword.equals = (this.$refs.passwordinput.$el.value == this.$refs.password2input.$el.value)
      this.statespassword.valida = /^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$/.test(this.$refs.passwordinput.$el.value)
      return (this.statespassword.password && this.statespassword.password2 && this.statespassword.equals && this.statespassword.valida) 
    },
    /**
    * Envia a la API la modificación de password del usuario
    * @param  
    * @return  
    * @author Luis González Gómez
    */
    editPassword(){
      this.statespassword.password = null,
      this.statespassword.password2 = null,
      this.statespassword.equals = true,
      this.statespassword.valida = true
      this.$refs['editpassword-modal'].show();
    },
    /**
    * Envia a la API la modificación de password de usuario
    * @param  
    * @return  {boolean}
    * @author Luis González Gómez
    */
    enviarEditPassword(){
      if (!this.checkPasswordValidity()) {
        return
      }
      this.$http.put(process.env.VUE_APP_API+'user.php',{
        id: this.user.id,
        password: this.$refs.passwordinput.$el.value,
        action: "edit_password",
        jwt: this.$store.state.user.jwt
      }).then(res => {
        var data=JSON.parse(res.bodyText);
        this.$store.state.user.jwt=data.jwt;
        this.$nextTick(() => {
          this.$bvModal.hide('modal-prevent-closing')
        })
      }).catch(e => { 
        Expired(this);
        console.log(e);
      });
    }, 
    /**
    * Muestra el modal para confirmar eliminar el usuario
    * @param  
    * @return  
    * @author Luis González Gómez
    */
    del: function (){
      this.$refs['delete-modal'].show();    
    },
    /**
    * Envia a la API la peticion para borrar el usuario
    * @param  
    * @return  
    * @author Luis González Gómez
    */
    confirmarDelete: function(){
      this.$http.delete(process.env.VUE_APP_API+'user.php',{
       body: { id: this.$store.state.user.id, jwt:this.$store.state.user.jwt }
      }).then(res => {
        this.$nextTick(() => {
          this.$bvModal.hide('modal-prevent-closing')
        })
      }).catch(e => { 
        Expired(this);
        console.log(e);
      });
        this.$refs['delete-modal'].hide();
        this.$store.dispatch('DeleteUser');
        this.$alert("Usuario eliminado correctamente");
        this.$router.replace('Login');
    },
    /**
    * Oculta el modal para borrar el usuario sin borrarlo
    * @param  
    * @return  {boolean}
    * @author Luis González Gómez
    */
    cancelarDelete: function(){
      this.$refs['delete-modal'].hide();
    },

  },

  /**
  * Funcion del ciclo de vida de VueJS
  * al crearse la instancia recoge los datos del usuario del store
  * @param  
  * @return 
  * @author Luis González Gómez
  */
  created(){
    this.user = this.$store.state.user;
  }
}
</script>

<style>

</style>