<!-- RECETAS 
    Este componente permite gestionar una receta, 
    permite crearr receta nueva, verla o editarla
  -->
<template>
<div>
    <app-header></app-header>
    <form ref="form" @submit.stop.prevent="enviar">
      <h3>{{encabezado}}</h3>
      <b-row align-v="center">
        <b-col>
          <b-form-group :state="states.nombre" label="Nombre" label-for="nombre-input" invalid-feedback="El nombre es requerido">
            <b-form-input :disabled="disabled" id="nombreinput" ref="nombreinput" v-model="receta.nombre" :state="states.nombre" required></b-form-input>
          </b-form-group>
          <b-form-group :state="states.nombre" label="Observaciones" label-for="observaciones-input" invalid-feedback="Las observaciones son requerido">
            <b-form-input :disabled="disabled" id="observacionesinput" ref="observacionesinput" v-model="receta.observaciones" :state="states.observaciones" required></b-form-input>
          </b-form-group>
          
          <b-form-group :state="states.raciones" label="Raciones" label-for="raciones-input" invalid-feedback="El numero de raciones es requerido">
            <b-form-input :disabled="disabled" id="racionesinput" ref="racionesinput" type="number" step=1 v-model="receta.raciones" :state="states.raciones" required></b-form-input>
          </b-form-group>
          <b-form-group :state="states.tiempo" label="Tiempo (minutos)" label-for="tiempo-input" invalid-feedback="El Tiempo es requerido">
            <b-form-input :disabled="disabled" id="tiempoinput" ref="tiempoinput" type="number" step=1 v-model="receta.tiempo" :state="states.tiempo" required></b-form-input>
          </b-form-group>
        </b-col>
        <b-col class="text-center">
           <b-img v-show="!noimagen" ref="imagen" :src="imagenRecetaUrl" rounded fluid alt="Sin imagen aún"></b-img>
           <div v-show="noimagen"><br>Esta receta no tienen imagen aún</div>
           <b-form-file
            ref="fotoinput" 
            v-show="!disabled"
            v-model="imagenReceta"
            accept="image/jpeg, image/png, image/gif"
            :state="Boolean(imagenRecetaUrl)"
            placeholder="Añade/edita una foto a la receta..."
            drop-placeholder="Arrastara la iamgen aqui..."
            ></b-form-file>
        </b-col>
      </b-row>
      Ingredientes <b-icon-plus-circle-fill v-show="!disabled" class="ml-2" v-on:click="addIng()"></b-icon-plus-circle-fill>
      <b-table striped hover :fields="fields" :items="receta.ingredientes" @row-clicked="delIngrediente">
        <template  v-slot:cell(cantidad)="row">
          {{row.item.cantidad}} {{row.item.unidad}}
        </template>
        <template  v-slot:cell(merma)="row">
          {{row.item.merma}} %
        </template>
        <template  v-slot:cell(precio)="row">
          {{row.item.precio}} €
        </template>
        <template  v-slot:cell(precioT)="row">
          {{row.item.precioT}} €
        </template>
        <template v-slot:cell(actions)="row">
          <b-icon-trash  @click="delIngrediente(row.item, row.index, $event.target)"></b-icon-trash>
      </template>
      </b-table>
      <b-container fluid class="text-center mb-2">
        <b-row class="font-weight-bold">
          <b-col class="border">Precio total receta</b-col>
          <b-col class="border">Precio por ración</b-col>
        </b-row>
        <b-row>
          <b-col class="border">{{getTotalReceta}} €</b-col>
          <b-col class="border">{{getTotalRaction}} €</b-col>
        </b-row>
      </b-container>
      Instrucciones <b-icon-plus-circle-fill v-show="!disabled" class="ml-2" v-on:click="addInst()"></b-icon-plus-circle-fill>
      <b-table striped hover :fields="fields2" :items="receta.instrucciones" @row-clicked="delInstrucción">
        <template  v-slot:cell(actions)="row">
          <b-icon-trash  @click="delInstruccion(row.item, row.index, $event.target)"></b-icon-trash>
        </template>
      </b-table>
      
      <b-button v-if="this.receta.accion=='Insertar'" ref="bot" class="mt-3" variant="outline-success" @click="enviarInsert()"  block>Insertar</b-button>
      <b-button v-if="this.receta.accion=='Editar'" ref="bot" class="mt-3" variant="outline-success" @click="enviarEdit()"  block>Editar</b-button>
    </form>
    <!-- MODAL ADDING-->
    <b-modal ref="addIng-modal" id="modal-prevent-closing" title="Seleccionar ingrediente" hide-footer>
      <b-dropdown ref="dropcat" id="dropdown-cat" :text="gettextSelectCats" class="m-2">
        <b-dropdown-item  v-for="cat in categorias" :key="cat.id" v-on:click="selectCat(cat.id)">{{cat.nombre}}</b-dropdown-item>
      </b-dropdown>
      <b-dropdown ref="droping" id="dropdown-ing" :text="gettextSelectIngs" class="m-2">
        <b-dropdown-item v-for="ing in ingredientes" :key="ing.id" v-on:click="selectIng(ing.id)">{{ing.nombre}}</b-dropdown-item>
      </b-dropdown>
      <b-form-group :state="statesAddIng.cantidad" :label="'Cantidad '+unidad" label-for="cantidad-input" invalid-feedback="La cantidad es requerido">
          <b-form-input id="cantidadinput" ref="cantidadinput" type="number" step=0.01 v-model="cantidad" :state="statesAddIng.cantidad" required></b-form-input>
      </b-form-group>
      <b-form-group :state="statesAddIng.merma" label="% merma" label-for="merma-input" invalid-feedback="La merma es requerido">
          <b-form-input id="mermainput" ref="mermainput" type="number" step=0.01 v-model="merma" :state="statesAddIng.merma" required></b-form-input>
      </b-form-group>
      <b-button ref="bot" class="mt-3" variant="outline-success" @click="confirmarModalAddIng()"  block>Confirmar</b-button>
      <b-button ref="bot" class="mt-3" variant="outline-danger" @click="cancelarModalAddIng()"  block>Cancelar</b-button> 
    </b-modal>
    <!-- MODAL ADDINST-->
    <b-modal ref="addInst-modal" id="modal-prevent-closing" title="Añadir instrucción" hide-footer>
      <b-form-group :state="statesAddInst.cantidad" label="Instrucción" label-for="texto-input" invalid-feedback="La instrucción es requerido">
          <b-form-textarea id="textoinput" ref="textoinput" v-model="texto" :state="statesAddInst.cantidad" required placeholder="Introduce instrucción" rows="3" max-rows="6"></b-form-textarea>
          
      </b-form-group>
      <b-button ref="bot" class="mt-3" variant="outline-success" @click="confirmarModalAddInst()"  block>Confirmar</b-button>
      <b-button ref="bot" class="mt-3" variant="outline-danger" @click="cancelarModalAddInst()"  block>Cancelar</b-button> 
    </b-modal>
    <b-button v-if="this.receta.accion=='Ver'" class="mt-2 mb-4" @click="goToEdit()">Editar esta receta</b-button>
</div>
</template>

<script>
import header from './Header.vue';
import {Expired} from '../assets/sesion'

export default {
  components: {
      'app-header': header
  },
  data () {
    return { 
      disabled: true,
      noimagen:false,
      imagenReceta: null,
      imagenRecetaUrl: '',
      encabezado: '',
      categorias: [],  
      ingredientes : [],
      ingrediente:{},
      textSelectCats: "Selecciona Categoría",
      textSelectIngs: "Selecciona Ingrediente",
      selectedIng:'',
      receta:{
       id:'',
       nombre:'',
       observaciones: '',
       raciones:'',
       tiempo: '',
       id_usuario:'',
       id_grupo:'',
       ingredientes: [],
       instrucciones: [],
       accion:''
      },
      states: {
        nombre:null,
        observaciones:null,
        raciones:null,
        tiempo:null
      },
      cantidad:'',
      merma:'',
      unidad:'',
      texto:'',
      statesAddIng:{
        cantidad:null,
        merma: null
      },
      statesAddInst:{
        texto:null
      },
      fields: [
      {key: 'Id', thClass: 'd-none', tdClass: 'd-none' },
      {key: 'nombre', sortable: true},
      {key: 'cantidad', sortable: true},
      {key: 'merma', sortable: true},
      {key: 'pesoE', sortable: true, label:"Peso en receta"},
      {key: 'precio', sortable: true, label:"Precio ingrediente"},
      {key: 'precioT', sortable: true, label:"Precio en receta"}
      ],
      fields2: [
      {key: 'Id', thClass: 'd-none', tdClass: 'd-none' },
      {key: 'texto'}
      ]
    }
  },
  computed: {
    /**
     * Con los metodos computed obtenemos valores calculados que se 
     * renderizan en la GUI, por ejemplo precio total de la receta, etc.
     */
    gettextSelectCats: function () {
      return this.textSelectCats;
    },
    gettextSelectIngs: function () {
      return this.textSelectIngs;
    },
    getTotalReceta : function () {
      var total = 0;
      this.receta.ingredientes.forEach(ing => {
        total+=ing.precioT;
      })
      return total;
    },
    getTotalRaction : function () {
      var total = 0;
      this.receta.ingredientes.forEach(ing => {
        total+=ing.precioT;
      })
      if ( this.receta.raciones === "" ){
        return 0;
      }else{
        return total/this.receta.raciones;
      }
      
    }
  },
  methods: {
    /**
    * Redirige mostrando el componente asociado a la ruta recibida por parámetro
    * @param  {string}
    * @return  
    * @author Luis González Gómez
    */
    goTo(route){
      this.$router.replace(route);
    },
    /**
     * Establece la accion en Editar, y recarga el componente para permitir la edicion
    * @param  
    * @return  
    * @author Luis González Gómez
    */
    goToEdit: function (){
      this.$store.dispatch('setAccion', "Editar");
      this.$router.go(0);
    },
    /**
    * Verifica que el formulario para editar/insertar receta es válido
    * @param  
    * @return  {boolean}
    * @author Luis González Gómez
    */
    checkFormValidity() {
      this.states.nombre = this.$refs.nombreinput.checkValidity()
      this.states.observaciones = this.$refs.observacionesinput.checkValidity()
      this.states.raciones = this.$refs.racionesinput.checkValidity()
      this.states.tiempo = this.$refs.tiempoinput.checkValidity()
      return (this.states.nombre && this.states.observaciones && this.states.raciones && this.states.tiempo) 
    },
    /**
    * Verifica que el formulario para añadir ingrediente en la receta es válido
    * @param  
    * @return  {boolean}
    * @author Luis González Gómez
    */
    checkAddIngValidity() {
      this.statesAddIng.cantidad = this.$refs.cantidadinput.checkValidity()
      this.statesAddIng.merma = this.$refs.mermadinput.checkValidity()
      return (this.statesAddIng.cantidad && this.statesAddIng.merma && this.selectedIng!='') 
    },
    /**
    * Verifica que el formulario para añadir instrucción en la receta es válido
    * @param  
    * @return  {boolean}
    * @author Luis González Gómez
    */
    checkAddInstValidity() {
      this.statesAddInst.texto = this.$refs.textoinput.checkValidity()
      return (this.statesAddInst.texto) 
    },
    /**
    * Muestra el modal para añadir ingrediente en la receta
    * @param  
    * @return  
    * @author Luis González Gómez
    */
    addIng(){
      this.$refs['addIng-modal'].show();
      this.textSelectCats='Selecciona categoria'; this.selectedIng=''; this.textSelectIngs='Selecciona Ingrediente'; this.cantidad=''; this.merma=''; this.unidad='';
    },
    /**
    * Muestra los ingredientes asociados a la categoria recibida por parametro
    * en el modal de añadir ingrediente
    * @param  {int}
    * @return  
    * @author Luis González Gómez
    */
    selectCat(id){
      var indexc = this.categorias.findIndex(c => c.id==id);
      this.ingredientes=this.categorias[indexc].ingredientes;
      this.textSelectCats=this.categorias[indexc].nombre;
      this.selectedIng=''; this.textSelectIngs='Selecciona Ingrediente'; this.unidad='';
    },
    /**
    * Establece el ingrediente que se va añadir a la receta tras realizar cambios en el
    * desplegable de ingredientes (modal añadir ingrediente)
    * @param  {int}
    * @return  
    * @author Luis González Gómez
    */
    selectIng(id){
      this.selectedIng=id;
      var indexi = this.ingredientes.findIndex(i => i.id==id);
      this.textSelectIngs=this.ingredientes[indexi].nombre;
      this.unidad=this.ingredientes[indexi].unidad;
      this.ingrediente=this.ingredientes[indexi];
    },
    /**
    * Añade el ingrediente a los datos de la vista de usuario,
    * además oculta el modal
    * @param  
    * @return  
    * @author Luis González Gómez
    */
    confirmarModalAddIng: function(){
      this.receta.ingredientes.push({id: this.ingrediente.id,nombre: this.ingrediente.nombre,cantidad: this.cantidad , unidad : this.unidad, merma: this.merma , pesoE: ((this.cantidad*this.merma)/100) + ' ' +this.unidad, precio:this.ingrediente.precio, precioT:(this.cantidad*this.ingrediente.precio) });
      this.$refs['addIng-modal'].hide();
    },
     /**
    * Muestra un mensaje para confirmar o cancalar el borrado del ingredietne de la receta
    * en caso de ser afirmativa la respuesta borra el ingrediente de los datos de usuario
    * @param {int} 
    * @return  
    * @author Luis González Gómez
    */
    delIngrediente(item, index, targer){
      this.$confirm("¿Eliminar ingrediente?").then(() => {
        var indexi = this.receta.ingredientes.findIndex(i => i.id==item.id);
        this.receta.ingredientes.splice(indexi, 1);
      });
      
    },
     /**
    * Oculta el modal de añadir ingrediente sin añadirlo
    * @param  
    * @return  
    * @author Luis González Gómez
    */
    cancelarModalAddIng: function(){
      this.$refs['addIng-modal'].hide();
    },
    /**
    * Muestra el modal para añadir instrucción a la receta
    * @param  
    * @return  
    * @author Luis González Gómez
    */
    addInst(){
      this.$refs['addInst-modal'].show();
      this.texto='';
    },
    /**
    * Añade la instruccion a los datos de la vista de usuario,
    * además oculta el modal
    * @param  
    * @return  
    * @author Luis González Gómez
    */
    confirmarModalAddInst: function(){
      this.receta.instrucciones.push({texto: this.texto});
      this.$refs['addInst-modal'].hide();
    },
     /**
    * Muestra un mensaje para confirmar o cancalar el borrado de la instrucción de la receta
    * en caso de ser afirmativa la respuesta borra la instrucción de los datos de usuario
    * @param {int} 
    * @return  
    * @author Luis González Gómez
    */
    delInstruccion: function (item, index, targer){
      this.$confirm("¿Eliminar instruccion?").then(() => {
        this.receta.instrucciones.splice(index, 1);
        console.log(this.receta.instrucciones);
      });
      
    },
    /**
    * Oculta el modal de añadir instrucción sin añadirla
    * @param  
    * @return  
    * @author Luis González Gómez
    */
    cancelarModalAddInst: function(){
      this.$refs['addInst-modal'].hide();
    },
    /**
    * Envia los datos a la API para insertar la receta en la base de datos,
    * se envia una peticion para insertar los datos de la receta, 
    * a continuacion se envian los ingredientes que se han insertado en la receta
    * por utlimo se añaden las instruciones a la receta.
    * Ademas redirige a la pagina de recetas mostrando un mensaje de éxito
    * @param  
    * @return  
    * @author Luis González Gómez
    */
    enviarInsert() {
      if (!this.checkFormValidity()) {
        return
      }
      this.$http.post(process.env.VUE_APP_API+'recetas.php',{
        nombre: this.receta.nombre,
        observaciones: this.receta.observaciones,
        raciones: this.receta.raciones,
        tiempo: this.receta.tiempo,
        id_usuario: this.receta.id_usuario,
        id_grupo: this.receta.id_grupo,
        jwt:this.$store.state.user.jwt
      }).then(res => {
        var data = JSON.parse(res.bodyText)
        this.$store.state.user.jwt=data.jwt;
        const id_receta= data.id;
        let fileToUpload =  this.imagenReceta;
        let formData = new FormData();
        formData.append('fileToUpload', fileToUpload);
        formData.append('id', id_receta);
        this.$http.post ( process.env.VUE_APP_API+'Fotos/upload.php', formData ).then(res => {
        
        }).catch(e => { 
          console.log(e);
        });
        this.receta.ingredientes.forEach(ing =>{
        this.$http.post(process.env.VUE_APP_API+'ing_esta_receta.php',{
            id_ingrediente: ing.id,
            id_receta: id_receta,
            cantidad: ing.cantidad,
            merma: ing.merma,
            jwt:this.$store.state.user.jwt
          }).then(res => {
            var data = JSON.parse(res.bodyText)
            if (data.msg!=undefined){
              this.$alert(data.msg.nombre+" no se añadio a la receta, ya estaba presente ");
            }
            this.$store.state.user.jwt=data.jwt;  
          }).catch(e => { 
            Expired(this);
            console.log(e);
          });
        });
        var index = 1;
        this.receta.instrucciones.forEach(inst =>{
        this.$http.post(process.env.VUE_APP_API+'instrucciones.php',{
            id_receta: id_receta,
            texto_instruccion: inst.texto,
            posicion_instruccion: index,
            jwt:this.$store.state.user.jwt
          }).then(res => {
            var data = JSON.parse(res.bodyText)
            this.$store.state.user.jwt=data.jwt;  
          }).catch(e => { 
            Expired(this);
            console.log(e);
          });
          index++;
        });
        
      }).catch(e => { 
        Expired(this);
        console.log(e);
      });
      this.$alert("Receta insertada");
      this.$router.replace("Recetas");
    },
    /**
    * Envia los datos a la API para editar la receta en la base de datos,
    * se envia una peticion para editar los datos de la receta, 
    * a continuacion se borran los ingredientes asociados a la receta en la base de datos,
    * para posteriomente isnertar los nuevos ingredientes que se han asociado en la receta
    * por utlimo se borran las instruciones asociadas a la receta en la base de datos, 
    * para posteriormente añadir las instruciones que se han asociado a la receta.
    * Ademas redirige a la pagina de recetas mostrando un mensaje de éxito
    * @param  
    * @return  
    * @author Luis González Gómez
    */
    enviarEdit() {
      if (!this.checkFormValidity()) {
        return
      }
      this.$http.put(process.env.VUE_APP_API+'recetas.php',{
        action: "edit",
        id: this.receta.id,
        nombre: this.receta.nombre,
        observaciones: this.receta.observaciones,
        raciones: this.receta.raciones,
        tiempo: this.receta.tiempo,
        jwt: this.$store.state.user.jwt
      }).then(res => {
        let fileToUpload =  this.imagenReceta;
        let formData = new FormData();
        formData.append('fileToUpload', fileToUpload);
        formData.append('id', this.receta.id);
        this.$http.post ( process.env.VUE_APP_API+'Fotos/upload.php', formData ).then(res => {
        
        }).catch(e => { 
          console.log(e);
        });
        var data=JSON.parse(res.bodyText);
        this.$store.state.user.jwt=data.jwt;
        this.$http.delete(process.env.VUE_APP_API+'ing_esta_receta.php',{body: { id_receta: this.receta.id, jwt:this.$store.state.user.jwt }}).then(res => {
          //Insertar ing_esta_recta
          this.receta.ingredientes.forEach(ing =>{
          this.$http.post(process.env.VUE_APP_API+'ing_esta_receta.php',{
              id_ingrediente: ing.id,
              id_receta: this.receta.id,
              cantidad: ing.cantidad,
              merma: ing.merma,
              jwt:this.$store.state.user.jwt
            }).then(res => {
              var data = JSON.parse(res.bodyText)
              if (data.msg!=undefined){
                this.$alert(data.msg.nombre+" no se añadio a la receta, ya estaba presente ");
              }
              this.$store.state.user.jwt=data.jwt;  
            }).catch(e => { 
              Expired(this);
              console.log(e);
            });
          });
        }).catch(e => {
          Expired(this); 
          console.log(e);
        });
        this.$http.delete(process.env.VUE_APP_API+'instrucciones.php',{body: { id_receta: this.receta.id, jwt:this.$store.state.user.jwt }}).then(res => {
          //Insertar instrucciones
          var index = 1;
          this.receta.instrucciones.forEach(inst =>{
          this.$http.post(process.env.VUE_APP_API+'instrucciones.php',{
              id_receta: this.receta.id,
              texto_instruccion: inst.texto,
              posicion_instruccion: index,
              jwt:this.$store.state.user.jwt
            }).then(res => {
              var data = JSON.parse(res.bodyText)
              this.$store.state.user.jwt=data.jwt;  
            }).catch(e => { 
              Expired(this);
              console.log(e);
            });
            index++;
          });
        }).catch(e => {
          Expired(this); 
          console.log(e);
        });
         this.$alert("Receta editada");
         this.$router.replace("Recetas");
      }).catch(e => { 
        Expired(this);
        console.log(e);
      });
    }, 
  },
  /**
  * Funcion del ciclo de vida de VueJS
  * al crearse la instancia carga las categorias y las recetas asociados al usuario.
  * Ademas, en función de la accion que se realiza sobre la receta prepara el template para la acción a realizar.
  * @param  
  * @return 
  * @author Luis González Gómez
  */
  created(){
    this.$http.get(process.env.VUE_APP_API+'categoria_ingredientes.php?jwt='+this.$store.state.user.jwt+'&id_usuario='+this.$store.state.user.id).then(res => {
      var data=JSON.parse(res.bodyText);
      data.cats.forEach(cat => {
        var categoria = [];
        categoria.id = cat.id;
        categoria.nombre = cat.nombre;
        categoria.descripcion = cat.descripcion;
        categoria.ingredientes = [];
        this.$http.get(process.env.VUE_APP_API+'ingredientes.php?jwt='+this.$store.state.user.jwt+'&id_categoria='+cat.id).then(res => {
          var data=JSON.parse(res.bodyText);
          data.ings.forEach(ing => {
            var ingrediente = {};
            ingrediente.id = ing.id;
            ingrediente.nombre = ing.nombre;
            ingrediente.descripcion = ing.descripcion;
            ingrediente.precio = ing.precio;
            ingrediente.unidad = ing.unidad;
            categoria.ingredientes.push(ingrediente);
          });
          this.categorias.push(categoria);
          this.$store.state.user.jwt=data.jwt;
        }).catch(e => { 
          Expired(this);
          console.log(e);
        });
      });
    }).catch(e => {
      Expired(this); 
      console.log(e);
    });

    this.receta.accion=this.$store.state.receta.accion;
    this.encabezado=this.receta.accion+" receta";
    if (this.receta.accion=="Insertar"){
      this.receta.id_grupo=this.$store.state.receta.id_grupo;
      this.receta.id_usuario=this.$store.state.receta.id_usuario;
    }
    if (this.receta.accion=="Editar" || this.receta.accion == "Ver"){
      var d = new Date(); 
      this.imagenRecetaUrl=process.env.VUE_APP_API+"Fotos/"+this.$store.state.receta.id+".png?ver=" + d.getTime();
      this.receta.id=this.$store.state.receta.id;
      this.receta.id_grupo=this.$store.state.receta.id_grupo;
      this.receta.id_usuario=this.$store.state.receta.id_usuario;
      this.receta.nombre=this.$store.state.receta.nombre;
      this.receta.observaciones=this.$store.state.receta.observaciones;
      this.receta.raciones=this.$store.state.receta.raciones;
      this.receta.tiempo=this.$store.state.receta.tiempo;
      this.$http.get(process.env.VUE_APP_API+'ing_esta_receta.php?jwt='+this.$store.state.user.jwt+'&id_receta='+this.receta.id).then(res => {
          var data=JSON.parse(res.bodyText);
          data.ings.forEach(ing => {
            this.receta.ingredientes.push({
              id : ing.id_ingrediente,
              nombre : ing.nombre,
              merma : ing.merma,
              cantidad : ing.cantidad,
              unidad : ing.unidad,
              pesoE: ((ing.cantidad*ing.merma)/100) + ' ' +ing.unidad, 
              precio: ing.precio, 
              precioT:(ing.cantidad*ing.precio) 
            });
          });
          this.$store.state.user.jwt=data.jwt;
        }).catch(e => { 
          Expired(this);
          console.log(e);
        });
        this.$http.get(process.env.VUE_APP_API+'instrucciones.php?jwt='+this.$store.state.user.jwt+'&id_receta='+this.receta.id).then(res => {
          var data=JSON.parse(res.bodyText);
          data.insts.forEach(inst => {
            this.receta.instrucciones.push({
              id : inst.id,
              id_receta : inst.id_receta,
              texto : inst.texto_instruccion,
              posicion_instruccion: inst.posicion_instruccion
            });
          });
          this.$store.state.user.jwt=data.jwt;
        }).catch(e => { 
          Expired(this);
          console.log(e);
        });
    } 
    if (this.receta.accion != "Ver"){
      this.disabled=false;
      this.fields.push( {key: 'actions', label: 'Accion' });
      this.fields2.push( {key: 'actions', label: 'Accion' });
    }
    
  },
  updated(){
    if (this.$refs["imagen"].naturalWidth == "0"){
      this.noimagen=true;
    }else{
       this.noimagen=false;
    }
  }
}
</script>
<style>
</style>