<!-- RECETAS 
    Este componente permite gestionar las recetas realizando 
    las operaciones CRUD sobre ellas
  -->
<template>
<div>
  <app-header></app-header>
 <b-row align-h="end" class="mr-2 mb-2">
    <b-form-input v-on:input="buscar()" id="filter" ref="filter" :type="text" class="md mb-1 mt-2 w-25 d-inline" placeholder="Buscar receta"></b-form-input>
    <b-button class="ml-2" @click="goTo('Grupos')">Gestionar grupos</b-button>
    
  </b-row> 
   <b-card-group columns>
    <span v-for="grupo in grupos" :key="grupo.id">
    <b-card v-show="grupo.visible==undefined || grupo.visible==true">
      <b-card-body>
       <b-card-title>{{grupo.nombre}}<b-icon-plus-circle-fill class="ml-2" v-on:click="ins(grupo.id)"></b-icon-plus-circle-fill></b-card-title>
      </b-card-body>
      <b-list-group>
        <span v-for="receta in grupo.recetas" :key="receta.id">
        <b-list-group-item v-show="receta.visible==undefined || receta.visible==true">
        <b-row>
          <b-col cols="9">{{receta.nombre}}</b-col>
          <b-col><b-icon-eye class="mr-2" v-on:click="mostrar(grupo.id, receta.id)"></b-icon-eye> <b-icon-pencil class="mr-2" v-on:click="edit(grupo.id, receta.id)"></b-icon-pencil> <b-icon-trash  v-on:click="del(grupo.id, receta.id)"></b-icon-trash></b-col>
          <b-dropdown id="dropdown-1" text="Cambiar grupo" class="m-2">
            <b-dropdown-item v-for="g in grupos" :key="g.id" v-on:click="changeGrupo(grupo.id, g.id, receta.id)">{{g.nombre}}</b-dropdown-item>
          </b-dropdown>
        </b-row>
        </b-list-group-item>
        </span>
      </b-list-group>
    </b-card>
    </span>
    </b-card-group> 
    <!-- MODAL ELIMINAR -->  
    <b-modal ref="delete-modal" id="modal-prevent-closing" title="Eliminar receta" hide-footer>
      <b-button ref="bot" class="mt-3" variant="outline-success" @click="confirmarDelete()"  block>Confirmar</b-button>
      <b-button ref="bot" class="mt-3" variant="outline-danger" @click="cancelarDelete()"  block>Cancelar</b-button>
    </b-modal>
   
</div>
</template>

<script>
import header from './Header.vue';
import {Expired} from '../assets/sesion'

export default {
  components: {
      'app-header': header
  },
  data () {
    return {
      grupos: [],
      states: {
        nombre:null,
        observaciones:null,
        raciones:null,
        tiempo:null
      },
      delid:'',
      delgrupoid:''
    }
  },
  methods: {
     /**
    * Filtra estableciendo una bandera boleana los gurpos y recetas
    * que se deben mostrar en base a lo introducido en el cuadro de busqueda
    * @param  
    * @return  
    * @author Luis González Gómez
    */
    buscar() {
      this.grupos.forEach(grupo =>{
        grupo.visible=true;
        var v=false;
        grupo.recetas.forEach(receta =>{
          if (receta.nombre.toLowerCase().indexOf(this.$refs.filter.$el.value.toLowerCase()) > -1){
            receta.visible=true;
            v=true;
          }else{
            receta.visible=false;
          }
        });
        if(!v){
          grupo.visible=false;
        }
      });
      this.$forceUpdate();
    },
    /**
    * Redirige mostrando el componente asociado a la ruta recibida por parámetro
    * @param  {string}
    * @return  
    * @author Luis González Gómez
    */
    goTo(route){
      this.$router.replace(route);
    },
    /**
    * Verifica que el formulario para editar/insertar receta es válido
    * @param  
    * @return  {boolean}
    * @author Luis González Gómez
    */
    checkFormValidity() {
      this.states.nombre = this.$refs.nombreinput.checkValidity()
      this.states.observaciones = this.$refs.observacionesninput.checkValidity()
      this.states.raciones = this.$refs.precioinput.checkValidity()
      this.states.tiempo = this.$refs.tiempoinput.checkValidity()
      
      return (this.states.nombre && this.states.observaciones && this.states.raciones && this.states.tiempo) 
    },
    /**
    * Envia a la API la peticion para cambiar el grupo de la receta
    * ademas, muestra el cambio de grupo en los datos de la interfaz
    * @param  {int} 
    * @return  
    * @author Luis González Gómez
    */
    changeGrupo(oldgrupoid, newgrupoid, recetaid){
      this.$http.put(process.env.VUE_APP_API+'recetas.php',{
        action: "move",
        grupo : newgrupoid,
        id : recetaid,
        jwt: this.$store.state.user.jwt
      }).then(res => {
        var indexg = this.grupos.findIndex(c => c.id == oldgrupoid);
        var indexr = this.grupos[indexg].recetas.findIndex(r=> r.id == recetaid);
        var newReceta = this.grupos[indexg].recetas[indexr];
        this.grupos[indexg].recetas.splice(indexr, 1);
        var indexg = this.grupos.findIndex(g => g.id == newgrupoid);
        this.grupos[indexg].recetas.push(newReceta);
        var new_grupo = this.grupos[indexg];
        this.grupos.splice(indexg, 1, new_grupo);
        var data=JSON.parse(res.bodyText);
        this.$store.state.user.jwt=data.jwt;
        this.$nextTick(() => {
          this.$bvModal.hide('modal-prevent-closing')
        })
      }).catch(e => {
        Expired(this); 
        console.log(e);
      });
    },
    /**
    * Establece la accion en mostrar una receta
    * redirige a la vista de receta para mostrarla
    * @param  {int} 
    * @return  
    * @author Luis González Gómez
    */
    mostrar: function (grid, recid){
      var index = this.grupos.findIndex(g=> g.id==grid);
      var receta = this.grupos[index].recetas.find(r=> r.id == recid);
      this.$store.dispatch('setReceta', receta)
      this.$store.dispatch('setAccion', "Ver")
      this.$router.replace("Receta");
    },
    /**
    * Establece la accion en editar una receta
    * redirige a la vista de receta para editarla
    * @param  {int} 
    * @return  
    * @author Luis González Gómez
    */
    edit: function (grid, recid){
      var index = this.grupos.findIndex(g=> g.id==grid);
      var receta = this.grupos[index].recetas.find(r=> r.id == recid);
      this.$store.dispatch('setReceta', receta);
      this.$store.dispatch('setAccion', "Editar");
      this.$router.replace("Receta");
    },
     /**
    * Muestra el dialogo de confirmación para eliminar una receta por id
    * @param  {int} 
    * @return 
    * @author Luis González Gómez
    */
    del: function (grupid, ingid){
      this.$refs['delete-modal'].show();
      this.delid=ingid;
      this.delgrupoid=grupid;
     
    },
    /**
    * Envia a la API la petición para borrar la receta,
    * además genera los cambios en los datos de la interfaz
    * @param  
    * @return 
    * @author Luis González Gómez
    */
    confirmarDelete: function(){
      this.$http.delete(process.env.VUE_APP_API+'recetas.php',{
       body: { id: this.delid, jwt:this.$store.state.user.jwt }
      }).then(res => {
        var indexg = this.grupos.findIndex(g => g.id==this.delgrupoid);
        var indexr = this.grupos[indexg].recetas.findIndex(r=> r.id == this.delid);
        this.grupos[indexg].recetas.splice(indexr, 1);
        var new_grupo = this.grupos[indexg];
        this.grupos.splice(indexg, 1, new_grupo);
        var data = JSON.parse(res.bodyText)
        this.$store.state.user.jwt=data.jwt;
        this.$nextTick(() => {
          this.$bvModal.hide('modal-prevent-closing')
        })
      }).catch(e => {
        Expired(this); 
        console.log(e);
      });
      this.$refs['delete-modal'].hide();
    },
    /**
    * Oculta el dialogo de confirmación sin borrar la receta
    * @param  
    * @return 
    * @author Luis González Gómez
    */
    cancelarDelete: function(){
      this.$refs['delete-modal'].hide();
    },
    /**
    * Establece la accion en insertar una receta
    * redirige a la vista de receta para insertarla en el grupo pasado por parametro
    * @param  {int} 
    * @return  
    * @author Luis González Gómez
    */
    ins:function(gr_id){
      var receta = {};
      receta.id_grupo=gr_id;
      receta.id_usuario=this.$store.state.user.id;
      this.$store.dispatch('setReceta', receta)
      this.$store.dispatch('setAccion', "Insertar")
      this.$router.replace("Receta");
    },
  },
  /**
  * Funcion del ciclo de vida de VueJS
  * al crearse la instancia carga los grupos y las recetas asociados al usuario
  * @param  
  * @return 
  * @author Luis González Gómez
  */
  created(){
    this.$http.get(process.env.VUE_APP_API+'grupo_recetas.php?jwt='+this.$store.state.user.jwt+'&id_usuario='+this.$store.state.user.id).then(res => {
      var data=JSON.parse(res.bodyText);
      data.grupos.forEach(gr => {
        var grupo = [];
        grupo.id = gr.id;
        grupo.nombre = gr.nombre;
        grupo.observaciones = gr.observaciones;
        grupo.recetas = [];
        this.$http.get(process.env.VUE_APP_API+'recetas.php?jwt='+this.$store.state.user.jwt+'&id_grupo='+gr.id).then(res => {
          var data=JSON.parse(res.bodyText);
          data.recetas.forEach(rec => {
            var receta = {};
            receta.id = rec.id;
            receta.nombre = rec.nombre;
            receta.observaciones = rec.observaciones;
            receta.tiempo = rec.tiempo;
            receta.raciones = rec.raciones;
            grupo.recetas.push(receta);
          });
          this.grupos.push(grupo);
          this.$store.state.user.jwt=data.jwt;
        }).catch(e => { 
          Expired(this);
          console.log(e);
        });
      });
    }).catch(e => {
      Expired(this); 
      console.log(e);
    });
  }
}
</script>

<style>

</style>