<!-- REGISTRAR 
    Este componente permite llevar a cabo el proceso de registro de usuarios
  -->
<template>
  <div>
    <h1>Registro</h1>
     <b-form @submit="enviar" @reset="restablecer" >
       <b-form-group id="username" label="Nombre de usuario:" label-for="username">
        <b-form-input id="username" v-model="form.username" type="text" required placeholder="Introduce nombre de usuario"></b-form-input>
      </b-form-group>
      <b-form-group id="email" label="Correo electronico:" label-for="email">
        <b-form-input id="email" v-model="form.email" type="email" required placeholder="Introduce email"></b-form-input>
      </b-form-group>
      <b-form-group id="password" label="Contraseña:" label-for="password">
        <b-form-input id="password" v-model="form.password" type="password" required placeholder="Introduce contraseña"></b-form-input>
      </b-form-group>   
      <b-form-group id="password2" label="Contraseña:" label-for="passwor2d">
        <b-form-input id="password2" v-model="form.password2" type="password" required placeholder="Confirma contraseña"></b-form-input>
      </b-form-group> 
      <b-alert v-if="!form.valid" show variant="danger">{{msg}}</b-alert>
      <b-alert v-if="form.success" show variant="success">{{msg}}</b-alert>
      <b-button type="submit" variant="primary">Enviar</b-button>
      <b-button type="reset" variant="danger">Restablecer</b-button>
    </b-form>
  </div>
</template>

<script>
export default {
  data () {
    return {
      form: {
          email: '',
          username: '',
          password:'',
          password2:'',
          valid: true,
          success:false
      },
      msg:"Las contraseñas no coinciden"
    }
  },
  methods: {
    /**
    * Envia la petición de registro a la API
    * Si el registro es correcto informa de que se revise el correo electronico, 
    * en caso de error informa sobre ello
    * @param  
    * @return  
    * @author Luis González Gómez
    */
    enviar(evt) {
        evt.preventDefault();
        if (this.form.password != this.form.password2){
          this.form.valid=false;
        }else if (!/^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$/.test(this.form.password)){
          this.form.valid=false;
          this.msg="La contraseña debe tener al entre 8 y 16 caracteres, al menos un dígito, al menos una minúscula y al menos una mayúscula.";
        }else{
          this.form.valid=true;
          this.$http.post(process.env.VUE_APP_API+'user.php', {
            username: this.form.username,
            email: this.form.email,
            password: this.form.password
          }).then(res => {
            if (res.status==200){
              this.form.success=true;
              this.msg="La cuenta ha sido creada. Para finalizar verifica tu correo electronico a través del enlace recibido.";
            }
          }).catch(e => { 
            console.log(e);
            var data=JSON.parse(e.bodyText);
              this.msg=data.msg;
              this.form.valid=false;
          });
        }
        
      },
       /**
      * Restablece los datos para el formulario de registro
      * @param  
      * @return 
      * @author Luis González Gómez
      */
      restablecer(evt) {
        evt.preventDefault()
        this.form.email = ''
        this.form.username = ''
        this.form.password = '',
        this.form.password2 = '',
        this.form.checked = []
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      }
  },
   /**
  * Funcion del ciclo de vida de VueJS
  * antes  decrearse la instancia comprueba si ya esta logueado el usuario
  * en caso afirmativo redirige a la vista de recetas
  * @param  
  * @return 
  * @author Luis González Gómez
  */
  beforeCreate() {
    if (this.$store.state.user.loggedIn){
      this.$router.replace('Recetas');
    }
  }
}
</script>

<style>

</style>
