
<template>
    <b-container fluid="xl">
        <router-view></router-view>
    </b-container>
</template>

<script>
// Imports
import Login from './components/Login.vue';
import Recetas from './components/Recetas.vue';
import Receta from './components/Receta.vue';
import Ingredientes from './components/Ingredientes.vue';
import Categorias from './components/Categorias.vue';
import Grupos from './components/Grupos.vue';
import header from './components/Header.vue';
import Registrar from './components/Registrar.vue';
import Perfil from './components/Perfil.vue';
import Landing from './components/LandingPage.vue';

export default {
    components: {
        'app-header': header,
    },
    data () {
        return {
        }
    },
    methods: {
    }
}
</script>

<style>
body {
  font-family: 'Ubuntu', sans-serif;
}
</style>
